.body{
 margin: 0;
 padding: 0;

}

.menu_container {
  position: absolute;
  top: 0;
  width: 350px;
  left: calc(50% - 150px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #EEEEEE;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  height : 60px;
  display : flex;
  justify-content: space-around;
  align-items: center;
  


}
.menu_button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background:#EEEEEE;
  padding : 0;
}
.menu_button:hover{
  background: #CCCCCC;
  
}
.menu_button_active{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
 transition: .3s;
 background: #CCCCCC;
}